html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--md-sys-color-background);
}

:root {
  color: var(--md-sys-color-on-surface);
  --color-boy: #64b5f6;
  --color-girl: #ef9a9a;
  --mdc-theme-primary: var(--md-sys-color-primary-container);
  --mdc-theme-secondary: var(--md-sys-color-secondary-container);
  --mdc-theme-background: var(--md-sys-color-background);
  --mdc-theme-surface: var(--md-sys-color-surface);
  --mdc-theme-on-primary: var(--md-sys-color-on-primary-container);
  --mdc-theme-on-secondary: var(--md-sys-color-on-secondary-container);
  --mdc-theme-on-surface: var(--md-sys-color-on-surface);
  --mdc-theme-text-primary-on-light: var(--md-sys-color-on-surface);
  --mdc-theme-text-secondary-on-light: var(--grampsjs-body-font-color);
  --mdc-theme-text-hint-on-light: var(--grampsjs-body-font-color);
  --mdc-theme-text-disabled-on-light: var(--grampsjs-body-font-color);
  --mdc-theme-text-icon-on-light: var(--grampsjs-body-font-color);
  --mdc-theme-text-primary-on-background: var(--grampsjs-body-font-color);
  --mdc-theme-text-secondary-on-background: var(
    --md-sys-color-on-surface-variant
  );
}

:root[data-theme='light'] {
  --grampsjs-body-font-color: rgba(0, 0, 0, 0.8);
  --md-sys-color-primary: rgb(64 37 28);
  --md-sys-color-surface-tint: rgb(121 86 75);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(97 66 55);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 46 78);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(21 76 118);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(53 44 2);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(84 73 28);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(96 0 4);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(152 0 10);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(30 27 26);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(224 227 227);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(41 45 45);
  --md-sys-color-outline-variant: rgb(70 74 74);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(233 189 174);
  --md-sys-color-primary-fixed: rgb(97 66 55);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(72 44 34);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(21 76 118);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(0 53 88);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(84 73 28);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(60 50 7);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(187 184 183);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 240 239);
  --md-sys-color-surface-container: rgb(229 226 225);
  --md-sys-color-surface-container-high: rgb(215 212 211);
  --md-sys-color-surface-container-highest: rgb(201 198 197);
}

:root[data-theme='dark'] {
  --grampsjs-body-font-color: rgba(255, 255, 255, 0.8);
  --md-sys-color-primary: rgb(233 189 174);
  --md-sys-color-surface-tint: rgb(233 189 174);
  --md-sys-color-on-primary: rgb(69 41 32);
  --md-sys-color-primary-container: rgb(109 76 65);
  --md-sys-color-on-primary-container: rgb(235 190 176);
  --md-sys-color-secondary: rgb(156 203 251);
  --md-sys-color-on-secondary: rgb(0 51 84);
  --md-sys-color-secondary-container: rgb(49 98 141);
  --md-sys-color-on-secondary-container: rgb(189 220 255);
  --md-sys-color-tertiary: rgb(214 198 141);
  --md-sys-color-on-tertiary: rgb(57 48 5);
  --md-sys-color-tertiary-container: rgb(106 94 47);
  --md-sys-color-on-tertiary-container: rgb(233 216 158);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 4);
  --md-sys-color-error-container: rgb(186 26 26);
  --md-sys-color-on-error-container: rgb(255 205 199);
  --md-sys-color-background: rgb(22 19 18);
  --md-sys-color-on-background: rgb(233 225 222);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(229 226 225);
  --md-sys-color-surface-variant: rgb(68 71 72);
  --md-sys-color-on-surface-variant: rgb(196 199 200);
  --md-sys-color-outline: rgb(142 145 146);
  --md-sys-color-outline-variant: rgb(68 71 72);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(121 86 75);
  --md-sys-color-primary-fixed: rgb(255 219 207);
  --md-sys-color-on-primary-fixed: rgb(45 21 13);
  --md-sys-color-primary-fixed-dim: rgb(233 189 174);
  --md-sys-color-on-primary-fixed-variant: rgb(94 63 53);
  --md-sys-color-secondary-fixed: rgb(207 229 255);
  --md-sys-color-on-secondary-fixed: rgb(0 29 51);
  --md-sys-color-secondary-fixed-dim: rgb(156 203 251);
  --md-sys-color-on-secondary-fixed-variant: rgb(17 74 115);
  --md-sys-color-tertiary-fixed: rgb(243 226 167);
  --md-sys-color-on-tertiary-fixed: rgb(34 27 0);
  --md-sys-color-tertiary-fixed-dim: rgb(214 198 141);
  --md-sys-color-on-tertiary-fixed-variant: rgb(81 70 26);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
  --mdc-select-fill-color: var(--mdc-theme-surface);
  --mdc-select-ink-color: var(--md-sys-color-on-background);
  --mdc-select-label-ink-color: rgba(255, 255, 255, 0.5);
  --mdc-select-dropdown-icon-color: var(--grampsjs-body-font-color);
  --mdc-select-idle-line-color: var(--grampsjs-body-font-color);
  --mdc-select-hover-line-color: var(--md-sys-color-on-surface);
  --mdc-select-outlined-idle-border-color: var(--grampsjs-body-font-color);
  --mdc-select-outlined-hover-border-color: var(
    --md-sys-color-surface-container-high
  );
  --mdc-text-field-idle-line-color: var(--grampsjs-body-font-color);
  --mdc-text-field-hover-line-color: var(--md-sys-color-on-surface);
  --mdc-text-field-disabled-line-color: var(--grampsjs-body-font-color);
  --mdc-text-field-outlined-idle-border-color: var(--grampsjs-body-font-color);
  --mdc-text-field-outlined-hover-border-color: var(
    --md-sys-color-surface-container-high
  );
  --mdc-text-field-outlined-disabled-border-color: var(
    --grampsjs-body-font-color
  );
  --mdc-text-field-fill-color: var(--mdc-theme-surface);
  --mdc-text-field-disabled-fill-color: var(--mdc-theme-surface);
  --mdc-text-field-ink-color: var(--grampsjs-body-font-color);
  --mdc-text-field-label-ink-color: var(--grampsjs-body-font-color);
  --mdc-text-field-disabled-ink-color: var(--grampsjs-body-font-color);
}
